.appointments {
  padding: 2rem 3rem;
  width: 100%;
  .title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #515151;
  }

  .table-container {
    background: #ffffff;
    border-radius: 0.6rem;
    overflow: hidden;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.1);
    border: 1px solid #d8d8d8;
    width: 100%;
  }

  .appointment-table {
    width: 100%;
    border-collapse: collapse;

    thead {
      background: #ffffff;
      th {
        text-align: left;
        padding: 1.2rem;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }

    tbody {
      tr {
        border-top: 1px solid #eee;

        td {
          padding: 1.2rem;
          font-size: 1.2rem;
          vertical-align: middle;
          color: #696b80;
          &.patient-info,
          &.doctor-info {
            display: flex;
            align-items: center;
            gap: 0.8rem;

            img {
              width: 2.8rem;
              height: 2.8rem;
              border-radius: 50%;
            }
          }

          .payment-type {
            border: 1px solid #4b5563;
            padding: 0.3rem 2rem;
            border-radius: 3rem;
            font-size: 1.1rem;
          }

          .record-btn {
            background-color: #28a745;
            color: white;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 0.4rem;
            font-size: 1.1rem;
            cursor: pointer;
          }

        }
        .action-btn{
  display: flex;
  align-items: center;
  gap: 2rem;
  
          button {
            background: none;
            border: none;
            font-size: 2rem;
            font-weight: 500;
            color: green;
            cursor: pointer;
            &:nth-child(2){
            color: red;
            font-size: 2.3rem;
            }
          }

}
        .status {
          font-size: 1.4rem;
          font-weight: 500;
          text-transform: capitalize;
        }

        .status.processing {
          color: #856404;
        }

        .status.complete {
          color: #31C840;
        }

        .status.cancelled {
          color: #F61E22;
        }

        .status.unknown {
          color: #6c757d;
        }
      }
    }
  }
}
